body {
  text-align: center;
  background-color: #3E4A3D;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  white-space: nowrap;
  color: #FEF2BF;
}
#correct-sequence {
  opacity: 0;
  margin: 2.5%;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.left-side-panel {
  position: absolute;
  display: inline-block;
  top: 35%;
  left: 5%;
  /* width: 20px; */
  width: 20%;
  text-align: center;
  font-size: 22px;
  line-height: 1.1;
  /* color: #5C7C88;
  color: #011F3F;
  color: #FFDA84; */
  color: #A7B33C;
}

.right-side-panel {
  position: absolute;
  display: inline-block;
  top: 45%;
  right: 5%;
  width: 200px;
  text-align: center;
}
.start-button {
  background-color: #A7B33C;
  border-radius: 10%;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
